networks:
  caddy:
    name: caddy
    driver: bridge
    external: true

services:
  gopkg-proxy:
    image: aykhans/gopkg-proxy:latest
    container_name: gopkg_proxy
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - caddy
