{
    admin off
}

############## gitea ##############
{$GITEA_DOMAIN} {
    tls /etc/ssl/custom/{$GITEA_CRT} /etc/ssl/custom/{$GITEA_KEY}

    request_body {
        max_size 512MB
    }

    reverse_proxy http://gitea:3000 {
        header_up X-Real-IP {http.request.header.Cf-Connecting-Ip}
        header_up X-Forwarded-For {http.request.header.Cf-Connecting-Ip}
        header_up X-Country-Code {http.request.header.Cf-Ipcountry}
        header_up -CF-*
    }
}

############## slash ##############
{$SLASH_DOMAIN} {
    tls /etc/ssl/custom/{$SLASH_CRT} /etc/ssl/custom/{$SLASH_KEY}

    request_body {
        max_size 10MB
    }

    reverse_proxy http://slash:5231 {
        header_up X-Real-IP {http.request.header.Cf-Connecting-Ip}
        header_up X-Forwarded-For {http.request.header.Cf-Connecting-Ip}
        header_up X-Country-Code {http.request.header.Cf-Ipcountry}
        header_up -CF-*
    }
}

############## blinko ##############
{$BLINKO_DOMAIN} {
    tls /etc/ssl/custom/{$BLINKO_CRT} /etc/ssl/custom/{$BLINKO_KEY}

    request_body {
        max_size 1024MB
    }

    reverse_proxy http://blinko-website:1111 {
        header_up X-Real-IP {http.request.header.Cf-Connecting-Ip}
        header_up X-Forwarded-For {http.request.header.Cf-Connecting-Ip}
        header_up X-Country-Code {http.request.header.Cf-Ipcountry}
        header_up -CF-*
    }
}

############## wg-easy ##############
{$WG_EASY_DOMAIN} {
    tls /etc/ssl/custom/{$WG_EASY_CRT} /etc/ssl/custom/{$WG_EASY_KEY}

    request_body {
        max_size 10MB
    }

    reverse_proxy http://wg-easy:51821 {
        header_up X-Real-IP {http.request.header.Cf-Connecting-Ip}
        header_up X-Forwarded-For {http.request.header.Cf-Connecting-Ip}
        header_up X-Country-Code {http.request.header.Cf-Ipcountry}
        header_up -CF-*
    }
}

############## vaultwarden ##############
{$VAULTWARDEN_DOMAIN} {
    tls /etc/ssl/custom/{$VAULTWARDEN_CRT} /etc/ssl/custom/{$VAULTWARDEN_KEY}

    request_body {
        max_size 128MB
    }

    reverse_proxy http://vaultwarden {
        header_up X-Real-IP {http.request.header.Cf-Connecting-Ip}
        header_up X-Forwarded-For {http.request.header.Cf-Connecting-Ip}
        header_up X-Country-Code {http.request.header.Cf-Ipcountry}
        header_up -CF-*
    }
}

############## sftpgo ##############
{$SFTPGO_DOMAIN} {
    request_body {
        max_size 8120MB
    }

    reverse_proxy http://sftpgo:8080 {
        header_up X-Real-IP {http.request.header.Cf-Connecting-Ip}
        header_up X-Forwarded-For {http.request.header.Cf-Connecting-Ip}
        header_up X-Country-Code {http.request.header.Cf-Ipcountry}
        header_up -CF-*
    }
}

############## glance ##############
{$GLANCE_DOMAIN} {
    tls /etc/ssl/custom/{$GLANCE_CRT} /etc/ssl/custom/{$GLANCE_KEY}

    basic_auth {
        {$GLANCE_USERNAME} {$GLANCE_PASSWORD}
    }

    request_body {
        max_size 64MB
    }

    reverse_proxy http://glance:8080 {
        header_up X-Real-IP {http.request.header.Cf-Connecting-Ip}
        header_up X-Forwarded-For {http.request.header.Cf-Connecting-Ip}
        header_up X-Country-Code {http.request.header.Cf-Ipcountry}
        header_up -CF-*
    }
}



import Caddyfile.private
