- name: Home
  columns:
      - size: small
        widgets:
            - type: server-stats
              servers:
                  - type: local
                    name: Services

            - type: releases
              cache: 1d
              collapse-after: 5
              # Without authentication the Github API allows for up to 60 requests per hour. You can create a
              # read-only token from your Github account settings and use it here to increase the limit.
              token: ${GITHUB_TOKEN}
              repositories:
                  - caddyserver/caddy
                  - louislam/uptime-kuma
                  - immich-app/immich
                  - glanceapp/glance
                  - go-gitea/gitea
                  - drakkan/sftpgo
                  - usememos/memos
                  - yourselfhosted/slash
                  - dani-garcia/vaultwarden
                  - wg-easy/wg-easy
                  - pocketbase/pocketbase
                  - prometheus/prometheus
                  - grafana/grafana
                  - TryGhost/Ghost
                  - schollz/croc
                  - stalwartlabs/stalwart

            - type: docker-containers
              cache: 0s
              hide-by-default: false

      - size: full
        widgets:
            - type: group
              widgets:
                  - type: hacker-news
                  - type: lobsters

            - type: rss
              limit: 150
              collapse-after: 5
              cache: 1h
              style: horizontal-cards
              feeds:
                  - url: https://selfh.st/rss/
                    title: selfh.st
                  - url: https://antonz.org/index.xml
                    title: antonz.org

      - size: small
        widgets:
            - type: calendar
              first-day-of-week: monday

            - type: weather
              location: Baku, Azerbaijan
              units: metric # alternatively "imperial"
              hour-format: 12h # alternatively "24h"

            - type: markets
              markets:
                  - symbol: BTC-USD
                    name: Bitcoin
                  - symbol: SUI20947-USD
                    name: SUI
                  - symbol: ASTER36341-USD
                    name: ASTER
